
/* regole generali */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear:both;
}



/* container totale */
#container{
   /* debug */
   width:57%;
   background-color:white;
   min-height: 100px;
   margin: 250px auto;
}

section{
   margin: 20px 0;
}
.prodotto{
   float:left;
   width: calc((100% / 3) - 2px);
   margin: 0 1px;
   position:relative;
   /* debug */
   min-height: 150px;
   /* debug */
}
.prodotto img {
   max-width: 100%;
   height:auto;
   margin: 0 auto;
}

.sconto{
   position: absolute;
   top:0;
   right:0;
   background-color:green;
   padding:5px;
}

.plus{
   background-color: red;
}

.cuore{
   font-size: 40px;
   color:red;
   text-align: center;
   display:none;
}

.prodotto:hover .cuore{
   display:block;
}

.prodotto:hover{
   cursor: pointer;
}
