<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <title>LC</title>
   </head>
   <body>

      <!-- V-MODEL -->
      <!-- <div id="app">
         <input v-model="nome">
         <input v-model="cognome">
         <p>Ciao{{nome + " " + cognome}}</p>
      </div> -->

      <!-- V-BIND -->
      <!-- <div id="app">
         <h1 v-bind:class="mieClassi">Titolo</h1>
         <input v-model="nome">
         <input v-model="cognome">
         <p>Ciao{{nome + " " + cognome}}</p>
      </div> -->

      <!-- METHODS : FUNZIONI/EVENTI -->
      <div id="app">
         <h1 v-bind:class="mieClassi">Titolo</h1>

         <!-- input -->
         <input v-model="nome">
         <input v-model="cognome">

         <!-- output -->
         <p>Ciao {{ nome + " " + cognome}}</p>

         <!-- al click del bottone evoca la funzione in vue -->
         <button @click="changeTitle">Bottone</button>
      </div>











      <!-- link js -->
      <script type="text/javascript" src="js/script.js"></script>
   </body>
</html>
