*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}




.display{
   display: none;
}

#cerchio{
   font-size: 50px;
   width: 500px;
   height: 500px;
   background-color: orange;
   border-radius: 50%;
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;

}
