*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.squares{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.square{
   width: 20%;
   height: 200px;
   background-color: lightgreen;
   border: 2px solid black;
}
